body {
background-color:#ffffff;
text-align:left;
}

/* header */
header {
  background-color: #414141;
  padding: 30px;
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 5.1vw;
  color:#c7c7c7;
}

/* content */
.headline {
  color:#383838;
  font-family: arial;
  font-size: 159%;
}

h2 {
 color:#636262;
 font-family: 'Lato', sans-serif;
 font-size: 155%;
  font-weight: bold
}

h3 {
 color:#716e6e;
 font-family: 'Lato', sans-serif;
 font-size: 150%;
 font-weight: bold;
}

.number1 {
 color:#545454;
 font-family: 'Inter', sans-serif;
 font-size: 140%;
}

.number2 {
 color:#545454;
 font-family: 'Inter', sans-serif;
 font-size: 140%;
}

.number3 {
 color:#545454;
 font-family: 'Inter', sans-serif;
 font-size: 140%;
}

.number4 {
 color:#545454;
 font-family: 'Inter', sans-serif;
 font-size: 140%;
}

.number5 {
 color:#545454;
 font-family: 'Inter', sans-serif;
 font-size: 140%;
}

.number6 {
 color:#545454;
 font-family: 'Inter', sans-serif;
 font-size: 140%;
}

.number7 {
 color:#545454;
 font-family: 'Inter', sans-serif;;
 font-size: 140%;
}

footer {
  background-color: #414141;
  padding: 20px;
}

.link-btn {
 background-color: #133337;
 font-family: 'Lato',cursive;
 font-size: 135%;
 color: #ffffff;
 border-radius: 6.5px;
 }

.link-btn a:hover {
 background-color: #144e56;
 font-family: 'Lato',cursive;
 font-size: 135%;
 color: #ffffff;
 border-radius: 6.5px;
 }


.text {
 color:#ffffff;
 font-family: 'Lato', sans-serif;
 font-size: 110%;
}

a {
  color: grey;
  font-family: "Lato", sans-serif;
  font-size: 135%;

}
