 @media only screen and (max-width: 1920px) {
  body {
background-color:#ffffff;
text-align:left;
}

/* header */
header {
  background-color: #414141;
  padding: 30px;
  text-align: center;
  color:#c7c7c7;
}

.subtext {
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 105%;
  color:#c7c7c7;
}
 .logo {
   background-color: #9a9a9a;
   color: #636363;
   font-family: 'Anton', sans-serif;
   font-size: 5.1vw;
}

/* content */
.headline {
  color: #c7c7c7;
  font-family: arial;
  font-size: 4.1vw;
}
  
.content {
  max-width: 75%;
  margin: auto;
  background: white;
  padding: 10px;
}

h2 {
 color:#636262;
 font-family: 'Lato',cursive;
 font-size: 155%;
  font-weight: bold
}

h3 {
 color:#716e6e;
 font-family: 'Lato',cursive;
 font-size: 150%;
 font-weight: bold;
}

.number1 {
 color:#545454;
 font-family: 'Noto Sans JP', sans-serif;
 font-size: 140%;
}

.number2 {
 color:#545454;
 font-family: 'Noto Sans JP', sans-serif;
 font-size: 140%;
}

.number3 {
 color:#545454;
 font-family: 'Noto Sans JP', sans-serif;
 font-size: 140%;
}

.number4 {
 color:#545454;
 font-family: 'Noto Sans JP', sans-serif;
 font-size: 140%;
}

.number5 {
 color:#545454;
 font-family: 'Noto Sans JP', sans-serif;
 font-size: 140%;
}

.number6 {
 color:#545454;
 font-family: 'Noto Sans JP', sans-serif;
 font-size: 140%;
}

.number7 {
 color:#545454;
 font-family: 'Noto Sans JP', sans-serif;
 font-size: 140%;
}

footer {
  background-color: #414141;
  padding: 20px;
}

.link-btn {
 background-color: #133337;
 font-family: 'Lato',cursive;
 font-size: 135%;
 color: #ffffff;
 border-radius: 6.5px;
 text-decoration: none;
 }

.link-btn a:hover {
 background-color: #144e56;
 font-family: 'Lato',cursive;
 font-size: 135%;
 color: #ffffff;
 border-radius: 6.5px;
 text-decoration: bold;
 }

/* for series */
.things {
 color:#545454;
 font-family: 'Noto Sans JP', sans-serif;
 font-size: 140%;
}

.text {
 color:#ffffff;
 font-family: 'Noto Sans JP', sans-serif;
 font-size: 110%;
}

a {
  color: grey;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 130%;
}

  img {
  height: 39%;
  width: 55%;
}
}
@media only screen and (max-width: 600px) {
/* header */
header {
  background-color: #414141;
  padding: 30px;
  text-align: center;
  color:#c7c7c7;
}

.subtext {
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 105%;
  color:#c7c7c7;
}
 .logo {
   background-color: #9a9a9a;
   color: #636363;
   font-family: 'Anton', sans-serif;
   font-size: 5.1vw;
}

/* content */
.headline {
  color: #c7c7c7;
  font-family: arial;
  font-size: 4.1vw;
}

.content {
  max-width: 100%;
  margin: auto;
  background: white;
}
 
h2 {
 color:#636262;
 font-family: 'Lato', sans-serif;
 font-size: 155%;
  font-weight: bold
}

h3 {
 color:#716e6e;
 font-family: 'Lato', sans-serif;
 font-size: 150%;
 font-weight: bold;
}

.number1 {
 color:#545454;
 font-family: 'Noto Sans JP', sans-serif;
 font-size: 130%;
}

.number2 {
 color:#545454;
 font-family: 'Noto Sans JP', sans-serif;
 font-size: 130%;
}

.number3 {
 color:#545454;
 font-family: 'Noto Sans JP', sans-serif;
 font-size: 130%;
}

.number4 {
 color:#545454;
 font-family: 'Noto Sans JP', sans-serif;
 font-size: 130%;
}

.number5 {
 color:#545454;
 font-family: 'Noto Sans JP', sans-serif;
 font-size: 130%;
}

.number6 {
 color:#545454;
 font-family: 'Noto Sans JP', sans-serif;
 font-size: 130%;
}

.number7 {
 color:#545454;
 font-family: 'Noto Sans JP', sans-serif;
 font-size: 130%;
}

footer {
  background-color: #414141;
  padding: 20px;
}

.link-btn {
 background-color: #133337;
 font-family: 'Lato',cursive;
 font-size: 135%;
 color: #ffffff;
 border-radius: 6.5px;
 text-decoration: none
 }

.link-btn a:hover {
 background-color: #144e56;
 font-family: 'Lato',cursive;
 font-size: 135%;
 color: #ffffff;
 border-radius: 6.5px;
 text-decoration: none
 }

/* for series */
.things {
 color:#545454;
 font-family: 'Inter', sans-serif;
 font-size: 130%;
}

.text {
 color:#ffffff;
 font-family: 'Lato', sans-serif;
 font-size: 110%;
}

a {
  color: grey;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 130%;
}

img {
  height: 55%;
  width: 70%;
}
}
